name: sed_projectKey
on:
  push:
    branches:
      - master
      - main
      - testMAIN
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarcloud:
    name: sed_projectKey
    runs-on: ubuntu-latest
    steps:
    
      - name: Checkout action
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
          
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        with:
            args: >
                -Dsonar.organization=christosservos                 
                -Dsonar.projectKey=${{ env.PROJECTKEY }}
                
 #               -Dsonar.tests=Tests/                 #-Dsonar.projectKey=${{ env.PROJECTKEY }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          PROJECTKEY: ${{ github.repository_owner}}_$(echo ${{ github.repository }} | sed 's/.*\///')
